
<form method="POST" action="<% links.login %>" form="login">
<div class="input" style="margin: 1ex 0"><label>Username</label><input type="text" name="username" style="border: 1px solid;"></div>
<div class="input" style="margin: 1ex 0"><label>Password</label><input type="password" name="password" style="border: 1px solid"></div>
<div class="input" style="margin: 1ex 0"><input type="submit" name="go"></div>
<input type="hidden" name="next_resource" value="<% links.next %>">
</form>